.SkinItemCover {
  display: grid;
  grid-template-rows: repeat(4, auto);
  grid-template-columns: 180px;
  margin: 0 auto;
}

.img {
  position: relative;
}

.SkinCard {
  margin-bottom: 4px;
}

.buttonStar {
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 10;
  width: 25px;
  height: 25px;
  transition: all 0.1s linear;
}

.unstarred svg path {
  fill: var(--white);
}

.starred svg path {
  fill: var(--gold);
}

.buttonStar:hover svg path {
  fill: var(--gold);
}

.price svg {
  width: 17px;
  height: 17px;
}

.buttonStar svg {
  width: 14px;
  height: 14px;
}

.title {
  grid-row: 2 / 3;
  font-weight: 500;
  font-size: 15px;
  text-transform: capitalize;
}

.type {
  grid-row: 3 / 4;
  margin-bottom: 5px;
  font-size: 13px;
  text-transform: capitalize;
}

.price {
  display: flex;
  grid-row: 4 / 5;
  align-items: center;
}

.buyText {
  margin-right: 5px;
}

.priceText {
  margin-right: 2px;
}
