.inputContainer {
  position: relative;
}

.input {
  width: 200px;
  height: 30px;
  padding: 18px 15px;
  color: var(--gray);
  border: 0;
  border-radius: 15px;
  outline: 0;
}

.input:focus {
  outline: 2px solid var(--green);
}

.transparent {
  background-color: transparent;
}

.black {
  background-color: var(--black);
}

.span {
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 1;
  padding-left: 15px;
}
