.button {
  box-sizing: border-box;
  padding: 10px;
  color: var(--white);
  font-size: 16px;
  text-align: center;
  border: 0;
  border-radius: 7px;
  outline: 0;
  cursor: pointer;
  transition: all 0.2s linear;
}

.arrow svg {
  width: 17px;
  height: 17px;
  margin-left: 5px;
  fill: var(--white);
}

.content {
  display: flex;
  align-items: center;
}

.black {
  background-color: var(--black);
}

.black:hover {
  background-color: var(--black-hover);
}

.green {
  background-color: var(--green);
}

.green:hover {
  background-color: var(--green-hover);
}

.darkBlue {
  background-color: var(--dark-blue);
}

.darkBlue:hover {
  background-color: var(--dark-blue-hover);
}

.transparent {
  background-color: transparent;
}

.up {
  transform: rotate(0deg);
}

.down {
  transform: rotate(180deg);
}
