.layoutWrapper {
  width: 100%;
  background: url("../../public/csgo-bg.jpg") no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.layout {
  display: grid;
  grid-template:
    ". header header  ."
    ". sidebar body ."
    "footer footer footer footer ";
  grid-template-rows: auto 1fr auto;
  grid-template-columns: auto 200px minmax(300px, 1500px) auto;
  gap: 30px;
  min-height: 100vh;
}

.header {
  grid-area: header;
}

.sidebar {
  grid-area: sidebar;
}

.main {
  grid-area: body;
}

.footer {
  grid-area: footer;
}

@media screen and (width <= 754px) {
  .layout {
    grid-template:
      ". header ."
      ". sidebar  ."
      ". body ."
      "footer footer footer";
    grid-template-rows: 78px auto 1fr auto;
    grid-template-columns: auto minmax(300px, 1500px) auto;
    gap: 10px;
  }

  .sidebar {
    grid-area: sidebar;
  }
}
