.form {
  display: grid;
  grid-template-columns: 250px;
  justify-content: center;
}

.swapTab {
  display: flex;
  justify-content: space-around;
  margin-bottom: 8px;
}

.swapTab button {
  font-weight: 600;
  text-transform: capitalize;
  transition: none;
}

.swapTab button:hover {
  color: var(--green);
}

.active {
  color: var(--green);
  border-bottom: 1px solid var(--green);
  border-radius: 0;
}
