.sidebar {
  display: grid;
  grid-template-rows: 50px 30px 60px auto auto 1fr;
  grid-template-columns: [start] 50px [middle] 1fr [end];
}

.title {
  grid-row: 1 / 2;
  grid-column: start / end;
  font-size: 45px;
}

.input {
  grid-row: 3 / 4;
  width: 200px;
}

.listCategory {
  grid-row: 4 / 5;
  list-style: none;
}

.category,
.additionalTitle {
  margin-bottom: 20px;
  color: var(--gray);
  text-transform: capitalize;
  cursor: pointer;
  transition: all 0.1s linear;
}

.category:last-child,
.additionalTitle {
  margin-bottom: 0;
}

.additionalTitle span {
  margin-left: 3px;
}

.category:hover {
  color: var(--green);
}

.active {
  color: var(--green);
  font-weight: 600;
}

.hr {
  grid-row: 5 / 6;
  grid-column: start / end;
  height: 2px;
  margin: 25px 0;
  padding: 0;
  background-color: var(--gray-border);
  border: 0;
}

.additional {
  grid-row: 6 / 7;
  grid-column: start / end;
}

.additionalItem {
  display: flex;
  align-items: center;
}

.additionalItem button {
  width: 30px;
  height: 30px;
}

.additionalTitle {
  display: flex;
  margin-left: 6px;
}

@media screen and (width <= 754px) {
  .sidebar {
    display: grid;
    grid-template-rows: 50px 60px 40px 30px 40px;
    grid-template-columns: [start] 1fr [end];
  }

  .title div {
    font-size: 30px;
  }

  .input {
    grid-row: 2 / 3;
  }

  .listCategory {
    display: flex;
    grid-row: 3 / 4;
    width: 296px;
    overflow: scroll;
  }

  .listCategory li {
    margin-right: 10px;
    margin-bottom: 0;
    font-size: 14px;
  }

  .listCategory li:last-child {
    margin-right: 0;
  }

  .hr {
    grid-row: 5 / 6;
    grid-column: start / end;
    margin: 15px 0;
  }

  .additional {
    grid-row: 4 / 5;
    font-size: 14px;
  }
}
