.sidebar {
  display: grid;
  grid-template-rows: 50px 60px 60px auto auto 1fr;
  grid-template-columns: [start] 50px [middle] 1fr [end];
}

.title {
  display: flex;
  grid-row: 1 / 2;
  grid-column: start / end;
  align-items: center;
  justify-content: space-between;
  font-size: 45px;
}

.title button {
  width: 40px;
  height: 40px;
}

.input {
  grid-row: 3 / 4;
  width: 200px;
}

.listCategory {
  grid-row: 4 / 5;
  list-style: none;
}

.category,
.savedTitle {
  margin-bottom: 20px;
  color: var(--gray);
  text-transform: capitalize;
  cursor: pointer;
  transition: all 0.1s linear;
}

.category:last-child,
.savedTitle {
  margin-bottom: 0;
}

.savedTitle span {
  margin-left: 3px;
}

.category:hover,
.saved:hover .savedTitle span {
  color: var(--green);
}

.active {
  color: var(--green);
  font-weight: 600;
}

.hr {
  grid-row: 5 / 6;
  grid-column: start / end;
  height: 2px;
  margin: 25px 0;
  padding: 0;
  background-color: var(--gray-border);
  border: 0;
}

.additional {
  grid-row: 6 / 7;
  grid-column: start / end;
}

.saved {
  display: flex;
  align-items: center;
}

.saved button {
  width: 30px;
  height: 30px;
}

.savedTitle {
  display: flex;
  margin-left: 6px;
}
