.search {
  position: relative;
}

.search svg {
  position: absolute;
  top: 8px;
  left: 15px;
  z-index: 1;
}

.input::placeholder {
  padding-left: 28px;
}

.submit {
  position: absolute;
  top: -1px;
  right: 15px;
  z-index: 1;
}
