.tooltip {
  position: fixed;
  z-index: 10;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 400px;
  border-radius: 4px;
}

.redBg {
  border: 1px solid var(--black);
  color: var(--white);
  background-color: var(--red);
  box-shadow: 3px 3px 13px rgb(255 0 0 / 27%);
}

.greenBg {
  border: 1px solid var(--gray);
  color: var(--white);
  background-color: var(--green);
  box-shadow: 3px 3px 13px rgb(0 255 122 / 20%);
}

.tooltipContainer {
  width: 100%;
  padding: 10px;
}

.tooltipContainer div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

@media (width <= 1023px) {
  .tooltip {
    display: none;
  }
}
