html,
body {
  margin: 0;
  padding: 0;
  color: var(--white);
  font-size: 16px;
  font-family: var(--font-family);
  background-color: #151517;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --font-family: "Lexend", sans-serif;
  --white: #f7f7f7;
  --gray: #95939d;
  --green: #429048;
  --red: #9a1111;
  --pink: #9d14ac;
  --blue: #001a9f;
  --purple: #3900a1;
  --steel-blue: #21528a;
  --dark-blue: #273b52;
  --dark-gray: #2d2e37;
  --golden: #ffac38;
  --black: #18181c;
}
