.header {
  display: grid;
  grid-template-columns:
    [start] 50px [logoEnd] 70px [navStart] 200px [navEnd] calc(50% - 270px)
    [middle] 300px [searchEnd] 70px [profileStart] 1fr [end];
  padding: 33px 0;
  border-bottom: 2px solid hsl(252deg 5% 60% / 12.8%);
}

.logo {
  grid-column: start / logoEnd;
}

.nav {
  grid-column: navStart / navEnd;
}

.search {
  grid-column: middle / searchEnd;
}

.profile {
  grid-column: profileStart / end;
}
